@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .err-border {
        @apply border-2 border-red-500 rounded-md;
    }
}

@layer base {
    @font-face {
        font-weight: 100;
        font-family: "MADE Okin";
        src: url("../../public/storage/fonts/MADEOkineSansPERSONALUSE-Thin.otf") format("openType");
    }

    @font-face {
        font-weight: 300;
        font-family: "MADE Okin";
        src: url("../../public/storage/fonts/MADEOkineSansPERSONALUSE-Light.otf") format("openType");
    }

    @font-face {
        font-weight: 400;
        font-family: "MADE Okin";
        src: url("../../public/storage/fonts/MADEOkineSansPERSONALUSE-Regular.otf") format("openType");
    }

    @font-face {
        font-weight: 500;
        font-family: "MADE Okin";
        src: url("../../public/storage/fonts/MADEOkineSansPERSONALUSE-Medium.otf") format("openType");
    }

    @font-face {

        font-family: "MV Boli";
        src: url("../../public/storage/fonts/mvboli.ttf") format("truetype");
    }

    input[type=number].appearance-none::-webkit-inner-spin-button,
    input[type=number].appearance-none::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number].appearance-none {
        -moz-appearance:textfield;
    }
}

@layer utilities {
    .cawotteGradient {
        background: linear-gradient(45deg, var(--cawotteDark) 0%, var(--cawotteLit) 100%);
    }

    .emeraldGradient {
        background: linear-gradient(45deg, var(--emeraldDark) 0%, var(--emeraldLit) 100%);
    }

    .goldGradient {
        background: linear-gradient(45deg, var(--goldDark) 0%, var(--goldLit) 100%);
    }

    .goldGradientTop {
        background: linear-gradient(180deg, var(--goldDark) 0%, var(--goldLit) 100%);
    }

    .goldGradientSide {
        background: linear-gradient(90deg, var(--goldDark) 0%, var(--goldLit) 100%);
    }

    .heartGradient {
        background: linear-gradient(45deg, var(--heartDark) 0%, var(--heartLit) 100%);
    }

    .clip-path-triangle-down {
        clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    }
}

:root {

    /* Colors */
    --anthracite: #292522;
    --anthraciteLit: #332f2c;

    --refusedBackground: #483131;
    --pendingBackground: #4d4532;

    --ivory: #fff5e9;
    --ivoryDark: #f2e8dc;

    --cawotteDark: #e2510f;
    --cawotteLit: #ff891c;

    --emeraldDark: #488911;
    --emeraldLit: #e6ff00;

    --goldDark: #fba436;
    --goldLit: #faed61;
    --goldText: #fcb943;
    --goldTextLit: #fbe25b;

    --heartGray: #99928b;
    --heartDark: #b10f0f;
    --heartLit: #f33a3a;

    --inactiveText: #8b847b;

    --custom-animation-time: 5s;
    --custom-translate-y: 5px;
    --custom-translate-x: 5px;
}
